.ss-card-header[data-v-fc14facb]{background:#00d9ff1a;border-bottom:1px solid var(--ss-border);padding:.75rem 1rem;font-weight:600;color:var(--ss-accent);font-family:Rajdhani,sans-serif;text-transform:uppercase;font-size:.9rem}
